
body {
background-color: black;
}


form{
    background-color: grey;
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
    color : black;
    margin: auto;
    font-family: 'Trebuchet MS';
}

.flex-row{
    display: flex;
    gap: 1em;
}